/* Color*/
:root {
    --basic-dark-navy: #293449;
    --basic-navy: #32425C;
    --basic-coral: #EE3643;
    --basic-light-gray: #F9F5F0;
    --basic-gray-blue: #F1F5F7;
    --basic-light-blue: #F2F6F8;
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --error-red: #BA2732;
    --spesial-yellow: #FFBF47;
    --spesial-blue:  #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --success: #5FBB2D;
    --special-main-button: #CA2C37;
    --spesial-header-order: #63A63E;
    --special-main-menu: #293449;
    --special-border: #EAEAEA;
}
.page {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}
.container {
  margin: auto;
  padding: auto;
  width: 940px;

/*buttons*/

}
/*header*/
.main-header {
  background: url("../img/main-header-background.png");
  height: 320px;
}
/*main-header*/
.main-header-menu {
  height: 42px;
}
.main-header-menu-nav {
  display: flex;
}
.header_logo {
  width: 220px;
  height: 42px;
  background-color: var(--basic-coral);
  box-shadow: 0 5px 0px 0  var(--special-main-button);
 }
.header_lovo  {
  padding-left: 40px;
}
 .header_search {
  width: 271px;
 }
.header_panel {
  display: flex;
  width: 450px;
  justify-content: space-between;
  font-size: 18px;

}

.main-header-menu {
   color: var(--basic-white);
   background-color: var(--basic-dark-navy);
}
.main-header-menu a {
  color: var(--basic-white);
}
.panel_order {
  background-color: var(--spesial-header-order);
  height: 42px;
  width: 150px;

}

/*search*/
.header_search {
  height: 42px;
  width: 300px;
}
.header_search input {
  border: none;
  outline: none;
  width: 100%;
  height: 42px;
  background-color:  var(--basic-dark-navy);
  color: white;
  font-family:"Cuprum", sans-serif;
  font-size: 18px;
}

.header_search input:hover {
  background-color: white;
  color: black;
}
/*header-flex*/
.main-header-information {
  display: flex;
  margin-top: 46px;
  justify-content: space-between;
}
.user-navigation {
  display: flex;
}
.main-header-about {
  color: var(--basic-coral);
  font-family:"Cuprum";
  font-size: 16px;
  line-height: 23px;
}
.main-header-telephone {
  display: block;
  font-family: "Cuprum";
  border: 3px solid #FFFFFF;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: var(--basic-coral);
  height: 45px;
  width: 270px;
}

.main-header-adress {
  font-family:"Cuprum";
  color: var(--basic-navy);
  font-size: 14px;
  line-height: 24px;
}

.login-link {
  display: block;
  background-color: var(--basic-white);
  min-width: 120px;

  text-align: center;
  color: var(--basic-black);
  font-family:"Cuprum", sans-serif;
  font-size: 21px;
  line-height: 21px;
  margin-right: 10px;
}
.registration-link {
  display: block;
  background-color: var(--basic-white);
  min-width: 150px;

  text-align: center;
  color: var(--basic-black);
  font-family:"Cuprum", sans-serif;
  font-size: 21px;
  line-height: 21px;
}
/*.user-navigation-login,
.user-navigation-registration {
  background-color: var(--basic-white);
  margin: 10px;
  height: 45px;
  min-width: 120px;
  max-width: 150px;
  text-align: center;
}
.user-navigation-login a,
.user-navigation-registration a {
  color: var(--basic-black);
  font-family:"Cuprum" sans-serif;
  font-size: 21px;
  line-height: 21px;
*/
}
/*navigation*/
.main-navigation {
  color: var(--basic-white);
  font-family:"Cuprum" sans-serif;
  font-size: 18px;
}
.site-navigation a {
  display: block;
  background-color: var(--basic-navy);
}

.site-navigation-item {
  padding: 24px;
}
.site-navigation {
  list-style: none;
  display: flex;
  margin-top: 60px;
}
.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:active {
  background-color: var(--basic-dark-navy);
}
.site-navigation a {
  color: var(--basic-white);
}

/*main*/
.catalog,
.index-group-product,
.index-group-manufacturer {
  text-align: center;
}

.product-line,
.manufacturer-line
 {
   display: flex;
   justify-content: space-between;
 }

 .product-line,
 .manufacturer-line h2 {
   color: var(--basic-navy);
 }
 .index-group-product {
   margin-top: 59px;
 }
 .index-group-manufacturer {
   margin-top: 70px;
 }
/*main grid*/
.catalog-list {
  list-style: none;
  font-size: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:  repeat(3, auto);
  grid-gap: 20px;
  grid-template-areas:
   "catalog-item-1 catalog-item-2 catalog-item-3"
   "catalog-item-6 catalog-item-6 catalog-item-4"
   "catalog-item-6 catalog-item-6 catalog-item-5";
}
.catalog-item-1 {
  grid-area: catalog-item-1;
  background: var(--spesial-yellow);
}
.catalog-item-2 {
  grid-area: catalog-item-2;
  background: var(--spesial-blue);
}
.catalog-item-3 {
  grid-area: catalog-item-3;
  background: var(--special-lilac);
}
.catalog-item-4 {
  grid-area: catalog-item-4;
  background: var(--special-greenlight);
}
.catalog-item-5 {
  grid-area: catalog-item-5;
  background: var(--special-yellowlight);
}
.catalog-item-6 {
  grid-area: catalog-item-6;
  background-image: url("../img/perforator_img.png");
  color: var(--basic-white);
}
.product-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
}
.product-list li {
  margin-right: 20px;
}
.product-list li:nth-child(4) {
  margin-right: 0px;
}

.manufacturer-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-top: 20px;
}
.manufacturer-item {
  border: 1px solid var(--special-border);
  width: 220px;
}

/*main*/
.product-list,
.manufacturer-list,
.servise-list,
.about-list {
  list-style: none;
}
.product-list {
  font-family: "PT Sans" sans-serif;
  font-size: 18px;
  line-height: 20px;
}
.product-item {
  width: 220px;

}
.product-item s, a {
  font-size: 17px;
line-height: 18px;
}
.product-line,
.manufacturer-line {
  background-color: var(--basic-light-gray);
}

.servise {
  background-color: var(--basic-gray-blue);
  margin-top: 70px;
}

.main-information {
  display: flex;
  margin-top: 70px;
}


/*footer*/
.main-footer {
  color: var(--basic-white);
  font-family: "Cuprum";
}
.page-footer {
  background-color: var(--basic-navy);
}
.main-footer-logo {
  color: var(--basic-white);
}
.footer-product {
    color: var(--basic-white);
    background-color: var(--basic-navy);
    font-family:"Cuprum";
    font-size: 18px
    margin-bottom: 60px;
}
.footer-product a {
  color: var(--special-yellowlight);
}
.footer-product-list,
.footer-social-list {
  list-style: none;
}
.footer-menu {
  background-color: var(--basic-dark-navy);
  display: flex;
}
.footer-menu a {
   color: var(--special-yellowlight);
}
.social-button {
  margin: 0 auto;
}
.site-navigation-footer {
  list-style: none;
  color: var(--basic-white: #FFFFFF)
}

.site-navigation-footer {
  list-style: none;
}

.site-navigation-footer a {
  color: var(--basic-white);
}

.site-navigation-footer a:hover,
.site-navigation-footer a:focus {
  text-decoration: underline;
}
.site-navigation-footer a:active {
  text-decoration: underline;
  opacity: 0.5;
}

.footer-product-list a:hover,
.footer-product-list a:focus {
  text-decoration: underline;
}
.footer-product-list a:active {
  text-decoration: underline;
  opacity: 0.5;
}
.page-footer {
  margin-top: 70px;
}
.header_logo_footer {
 width: 220px;
 height: 63px;
 background-color: var(--basic-coral);
 box-shadow: 0 5px 0px 0  var(--special-main-button);
}
.footer-navigation {
  display: flex;
  justify-content: space-between;
}
.footer-nav-menu {
 padding-top: 20px;
}
.site-navigation-footer {
  display: flex;
}

.footer_main {
  display: flex;
  justify-content: space-between;
}
.footer-product-list {
  display: flex;
}

.footer-menu-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-social-list {
  display: flex;
}
.social-button {
  background-color: var(--basic-dark-navy);
  padding: 5px;
}
.footer-product-item {
  padding-right: 20px;
}
.footer-product-item:last-child {
  padding-right: 0px;
}
.site-nav-item {
  padding-right: 20px;
}
.site-nav-item:last-child {
  padding-right: 0px;
}
.creater a:hover,
.creater a:focus,
.creater a:active {
  text-decoration: underline;
}
