/* Color*/
:root {
  --basic-dark-navy: #293449;
  --basic-navy: #32425C;
  --basic-coral: #EE3643;
  --basic-light-gray: #F9F5F0;
  --basic-gray-blue: #F1F5F7;
  --basic-light-blue: #F2F6F8;
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --error-red: #BA2732;
  --spesial-yellow: #FFBF47;
  --spesial-blue:  #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --special-main-button: #CA2C37;
  --spesial-header-order: #63A63E;
  --special-main-menu: #293449;
  --special-border: #EAEAEA;
  --special-focus-button-order: #5FBB2D;
  --special-activ-button-order: #518534;
  --special-grey-product: #A9A9A9;
  --special-light-grey-filters: #C5C5C5;
  --special-background-grey: #f7f3ec;
}
.page {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  background-color: var(--basic-white);
}
.page-body {
  margin: 0;
}

a {
  text-decoration: none;
}
.container {
  margin: auto;
  padding: auto;
  width: 940px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/
.main-header {
  background: url("../img/main-header-background.png");
  height: 320px;
}
/*main-header*/
.main-header-menu {
  height: 42px;
}
.main-header-menu-nav {
  display: flex;
}
.header_logo {
  width: 220px;
  height: 42px;
  background-color: var(--basic-coral);
  box-shadow: 0 5px 0px 0  var(--special-main-button);
 }
.header_lovo  {
  padding-left: 40px;
}
.header_logo img {
  padding: 10px 53px;
}

.header_panel {
  display: flex;
  width: 450px;
  justify-content: space-between;
  font-size: 18px;
  align-items: flex-start;
}

.main-header-menu {
  color: var(--basic-white);
  background-color: var(--basic-dark-navy);
}
.main-header-menu a {
  color: var(--basic-white);
}
.panel_bookmarks,
.panel_basket {
  position: relative;
  font-family: "Cuprum", sans-serif;
  max-height: 42px;
  padding: 9px 0px;
  width: 150px;
  text-align: center;
}
.panel_bookmarks::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 12px;
  width: 15px;
  height: 15px;
  background: url(../img/icon-alert.svg) no-repeat;
  opacity: 0.3;
}
.panel_bookmarks:hover:before,
.panel_bookmarks:focus:before {
  opacity: 1;
}

.panel_basket::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 12px;
  width: 15px;
  height: 15px;
  background: url(../img/icon-basket.svg) no-repeat;
  opacity: 0.3;
}
.panel_basket:hover:before,
.panel_basket:focus:before {
  opacity: 1;
}
.panel_order {
  display: inline-block;
  background-color: var(--spesial-header-order);
  font-family: "Cuprum", sans-serif;
  padding: 9px 0px;
  width: 150px;
  text-align: center;
}

.panel_order:hover,
.panel_order:focus {
  background-color: var(--special-focus-button-order);
}
.footer-product-list a:active {
  background-color: var(--special-activ-button-order);
}

/*search*/
.header_search {
  height: 42px;
  width: 270px;
  
}
.search {
  border: none;
  outline: none;
  width: 100%;
  height: 42px;
  background-color:  var(--basic-dark-navy);
  color: white;
  font-family:"Cuprum", sans-serif;
  font-size: 18px;
  padding-left: 40px;
}
.header_search:hover .header_search svg {
  fill: var(--basic-coral);
}
.header_search input:focus  {
  background-color: white;
  fill: coral;
}
.header_search input[type='search']::-webkit-search-decoration,
.header_search input[type='search']::-webkit-search-cancel-button,
.header_search input[type='search']::-webkit-search-results-button,
.header_search input[type='search']::-webkit-search-results-decoration {
  display: none;
}
/*header-flex*/
.main-header-information {
  display: flex;
  margin-top: 46px;
  justify-content: space-between;
}
.user-navigation {
  display: flex;
  align-items: flex-start;
}
.main-header-about {
  color: var(--basic-coral);
  font-family:"Cuprum";
  font-size: 16px;
  line-height: 23px;
  margin-left: 30px
}
.main-header-contact {
  margin-left: 30px;
}
.main-header-telephone {
  position: relative;
  display: block;
  font-family: "Cuprum";
  border: 3px solid #FFFFFF;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: var(--basic-coral);
  padding: 5px 45px 5px 75px;
}

.main-header-telephone::before {
  content: "";
  position: absolute;
  left: 38px;
  top: 11px;
  width: 20px;
  height: 20px;
  background: url(../img/icon-phone.svg) no-repeat;
}

.main-header-adress {
  font-family:"Cuprum";
  color: var(--basic-navy);
  font-size: 14px;
  line-height: 24px;
  margin-left: 10px;
}
.main-header-adress p {
  margin: 0;
  margin-top: 3px;
}
.login-link {
  position: relative;
  display: block;
  background-color: var(--basic-white);
  padding: 12px 28px 12px 44px; 
  text-align: center;
  color: var(--basic-black);
  font-family:"Cuprum", sans-serif;
  font-size: 21px;
  line-height: 21px;
  margin-right: 10px;
}
.login-link::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 14px;
  width: 20px;
  height: 20px;
  background: url(../img/icon-login.svg) no-repeat;
}
.login-link:hover:before,
.login-link:focus:before {
  
}


.registration-link {
  display: block;
  background-color: var(--basic-white);
  padding: 12px 24px;
  text-align: center;
  color: var(--basic-black);
  font-family:"Cuprum", sans-serif;
  font-size: 21px;
  line-height: 21px;
}

/*navigation*/
.main-navigation {
  margin-top: 40px;
  padding: 0 10px;
  color: var(--basic-white);
  font-family:"Cuprum", sans-serif;
  font-size: 18px;
  background-color: var(--basic-navy);
  box-shadow: inset 0 -5px 0 0 var(--basic-dark-navy);
}

.site-navigation a {
  display: block;
  background-color: var(--basic-navy);
  box-shadow: inset 0 -5px 0 0 var(--basic-dark-navy);
}

.site-navigation-item {
  padding: 20px 30px 20px;
}
.site-navigation {
  list-style: none;
  display: flex;
  margin-top: 0px;
  padding: 0;
  justify-content: space-around;
}
.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:active {
  background-color: var(--basic-dark-navy);
}
.site-navigation a {
  color: var(--basic-white);
}

/*main*/

.product-list,
.manufacturer-list,
.about-list {
  list-style: none;
}

/*buttons*/

.button-link {
 background-color: var( --basic-coral);
 color: var(--basic-white);
 font-family:"Cuprum", sans-serif;
 display: inline-block;
 padding: 10px 0px 10px 0px;
 min-width: 192px;
 text-align: center;
 text-transform: uppercase;
}

.button-link:hover,
.button-link:focus,
.button-link:active {
  background-color: var(--error-red);
}

/*категории гриды*/
.catalog-list {
  margin: 0;
  margin-top: 59px;
  position: relative;
  list-style: none;
  font-size: 24px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  grid-gap: 20px;
  grid-template-areas:
   "item-material item-instrument item-technics"
   "catalog-item-product catalog-item-product item-sale"
   "catalog-item-product catalog-item-product item-delivery";
  margin-left: 0; 
  padding-left: 0;
  color: var(--basic-white);
  font-family:"Cuprum", sans-serif;
}

.catalog-item {
  display: flex;
  justify-content: space-between;
  padding: 21px 40px 21px 22px;
}
.catalog-item div {
  display: flex;
  flex-direction: column;
}
.catalog-item h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
.catalog-item img {
}
.item-material {
  grid-area: item-material;
  background: var(--spesial-yellow);
}
.item-instrument {
  grid-area: item-instrument;
  background: var(--spesial-blue);
}
.item-technics {
  grid-area: item-technics;
  background: var(--special-lilac);
}
.item-sale {
  grid-area: item-sale;
  background: var(--special-greenlight);
}
.item-delivery {
  grid-area: item-delivery;
  background: var(--special-yellowlight);
}
.catalog-item-product {
  grid-area: catalog-item-product;
  color: var(--basic-white);
}

/*main catalog slider*/
.catalog-item-product h3 {
  font-family: "Cuprum", sans-serif;
  font-size: 36px;
  text-transform:  uppercase;
  font-weight: 700;
  line-height: 36px;
  margin: 0;

}
.catalog-item-product p {
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}
.catalog-slider {
  padding: 20px;
  position: relative;
  height: 85%;
  background-image: url("../img/perforator_img.png");
}

.slide {
  display: none;
}
.slider-controls {
  position: absolute;
  bottom: 35px;
  left: 298px;
  display: flex;
  width: 30px;
  justify-content: space-between;
}
.slider-controls button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls .current {
  background-color: var(--basic-coral);
}
.slide-current {
  display: block;
}
.slider_navigation {
  position: absolute;
  width: 600px;
  display: flex;
  justify-content: space-between;
  bottom: 100px;
  padding: 0 10px;
}
.slider_navigation button {
    border: 0;
    background: 0;
}
.item-instrument {
  position: relative;
}
.item-instrument::after {
  content: "";
  position: absolute;
  left: -90px;
  top: 0px;
  width: 70px;
  height: 66px;
  background: url(../img/catalog_new.svg) no-repeat;
}
/*Каталог кнопка */

.button-catalog-link {
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  padding: 10px 10px;
  width: 115px;
  text-align: center;
  margin-top: 14px;
  text-transform: uppercase;
} 

.button-catalog-link:hover,
.button-catalog-link:focus,
.button-catalog-link:active {
  background-color: rgba(197, 197, 197, 0.3);
}

.button-more {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0px 10px 0px;
} 

/*Продукты*/

.product-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

/*Всплывающее окно*/
.product-button-wrapper {
  justify-content: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 150px;
  top: 10px;
  opacity: 0;
  background-color: var(--basic-white);
}
.product-button {
  border: 0;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-left: 41px;
  margin-top: 10px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: green;
  width: 135px;
  height: 38px;
}
.button-buy {
  position: relative;
}
.button-buy::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 10px;
  width: 15px;
  height: 15px;
  background: url(../img/icon-basket.svg) no-repeat;
  opacity: 0.3;
}
.product-button-wrapper:hover,
.product-button-wrapper:focus {
  opacity: 1;
}

.product-item {
  position: relative;
  min-height: 318px;
  max-width: 218px;
  margin-top: 20px;
  border: 1px solid #EAEAEA;
  width: 220px;
  text-align: center;
  color: var(--basic-black);
}

.product-item img {
  max-width: 144px;
  object-fit: contain;
  background-color: var(--basic-white);
}
.product-item h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  padding: 0 22px 0 22px;
}
.product-item s {
  font-size: 17px;
  line-height: 18px;
  color: var(--special-grey-product);
  font-weight: 700;
}

.product_price {
  position: relative;
  background-color: var(--basic-coral);
  color: var(--basic-white);
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  width: 110px;
  padding: 10px 0px 10px 10px;
  margin-left: 45px;
}
.product_price::after {
  content: "";
  position: absolute;
  right: -13px;
  top: 6px;
  width: 26px;
  height: 26px;
  background-color: var(--basic-coral);
  transform: rotate(45deg);
}
.product-item-link {
  min-height: 318px;
  max-width: 218px;
}
.product-item:hover,
.product-item:focus,
.product-item:active {
  box-shadow: 0 0 10px 10px var(--special-border);
}

.not_sale {
  margin-top: 42px;
}

/*линия*/
 .index-group-product {
   margin-top: 59px;
 }
 .index-group-manufacturer {
   margin-top: 70px;
 }
.product-line,
.manufacturer-line {
  background-color: var(--basic-light-gray);
}
.product-line,
.manufacturer-line
 {
  display: flex;
  justify-content: space-between;
  padding: 25px 14px 26px 28px;
  align-items: center;
 }

 .product-line h2 {
  margin: 0;
  font-family:"Cuprum", sans-serif;
  color: var(--basic-navy);
  font-size: 30px;
  text-transform:  uppercase;
  font-weight: 400;
 }

 .manufacturer-line h2 {
  margin: 0;
  font-family:"Cuprum", sans-serif;
  color: var(--basic-navy);
  font-size: 30px;
  text-transform:  uppercase;
  font-weight: 400;
 }

/*производители*/
.manufacturer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0
}
.manufacturer-item-link {
  border: 1px solid #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.manufacturer-item:nth-child(4) {
  margin-right: 0px;
}
.manufacturer-item-link {
  display: flex;
  width: 220px;
  min-height: 145px;
  justify-content: center;
  align-items: center;
}
.manufacturer-item-link:hover,
.manufacturer-item-link:focus,
.manufacturer-item-link:active {
  box-shadow: 0 0 10px 10px var(--special-border);
}
/*Сервисы*/

.servise {
  background-color: var(--basic-gray-blue);
  margin-top: 70px;
  height: 522px
}
.servise-main {
  padding-top: 64px;
}
.sersive-item-about {
  padding: 0;
  margin-top: 30px;
  margin-left: 80px;
}
.servise h2 {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
.servise p {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}
.servise-wrapper {
  position: relative;
  display: flex;
}
.servise-list-button {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 60px;
}
.servise-list-button-wrapper::after {
  content: "";
  position: absolute;
  left: 230px;
  top: 12px;
  width: 14px;
  height: 261px;
  background: url(../img/slider-line.svg) no-repeat;
}
.servise-button {
  font-family: "Cuprum", sans-serif;
  font-size: 21px;
  line-height: 30px;
}
.servise h3 {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark-navy);
  font-weight: 400;
}
.button-servise-slider {
  font-family: "Cuprum", sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-navy);
  border: 0;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  padding: 14px 22px 15px;
  width: 240px;
  text-align: left;
}
.button-servise-active {
  background-color: var(--basic-white);
  color: var(--basic-navy);
  border: 0;
}
.sersive-list {
  list-style: none;
  width: 750px;
}


/*servise-slider*/

.servise-delivery,
.servise-garanty,
.servise-credit {
  display: none;
}

.servise-slide-current {
  display: block;
}


.servise-item {
  height: 295px;
}

.servise-delivery {
 background: url(../img/servise-picture-car.png) no-repeat 85% 100%;
}  
.servise-garanty {
 background: url(../img/servise-picture-medal.png) no-repeat 85% 100%;
}
.servise-credit {
 background: url(../img/servise-picture-credit.png) no-repeat 85% 100%;
}

.button-credit {
  margin-top: 20px;
}
/*О Компании*/
.main-information {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 70px;
}

.main-information h2 {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
.main-information p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}
.about {
  width: 540px;
}
.about-item {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  position: relative;
}

.about-item::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 45%;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.about-button {
  margin-top: 18px;
  width: 220px;
}
.contact {
  width: 300px;
}
.contact-button {
  margin-top: 25px;
  width: 300px;
}

/*footer*/
.main-footer {
  color: var(--basic-white);
  font-family: "Cuprum";
}
.page-footer {
  background-color: var(--basic-navy);
}
.main-footer-logo {
  color: var(--basic-white);
}
.footer-product {
    color: var(--basic-white);
    background-color: var(--basic-navy);
    font-family:"Cuprum";
    font-size: 18px;
    margin-bottom: 60px;
}
.footer-product a {
  color: var(--special-yellowlight);
}
.footer-adress {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.footer-adress p {
  margin: 0;
  margin-top: 21px;
}
.footer-adress a {
  color: var(--basic-white);
}
.footer-product-list,
.footer-social-list {
  list-style: none;
}
.footer-menu {
  background-color: var(--basic-dark-navy);
  display: flex;
}
.footer-menu a {
   color: var(--special-yellowlight);
}
.social-button {
  margin: 0 auto;
}
.site-navigation-footer {
  list-style: none;
  color: var(--basic-white: #FFFFFF)
}

.site-navigation-footer {
  list-style: none;
}

.site-navigation-footer a {
  color: var(--basic-white);
}

.site-navigation-footer a:hover,
.site-navigation-footer a:focus {
  text-decoration: underline;
}
.site-navigation-footer a:active {
  text-decoration: underline;
  opacity: 0.5;
}

.footer-product-list a:hover,
.footer-product-list a:focus {
  text-decoration: underline;
}
.footer-product-list a:active {
  text-decoration: underline;
  opacity: 0.5;
}

.header_logo_footer {
 width: 220px;
 height: 63px;
 background-color: var(--basic-coral);
 box-shadow: 0 5px 0px 0  var(--special-main-button);
}

.header_logo_footer img {
  padding: 20px 42px;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
}
.footer-nav-menu {
 padding-top: 20px;
}
.site-navigation-footer {
  display: flex;
}

.footer_main {
  display: flex;
  justify-content: space-between;
}
.footer-product-list {
  display: flex;
}

.footer-menu-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 18px;
  font-style: "Cuprum", sans-serif;
  font-weight: 400;
}
.footer-social-list {
  display: flex;
}
.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus 
.social-button:active {
  background-color: var(--basic-coral);
}
.footer-product-item {
  padding-right: 20px;
}
.footer-product-item:last-child {
  padding-right: 0px;
}
.site-nav-item {
  padding-right: 20px;
}
.site-nav-item:last-child {
  padding-right: 0px;
}

.creater a:hover,
.creater a:focus,
.creater a:active {
  text-decoration: underline;
}
.feedback a:hover,
.feedback a:focus,
.feedback a:active {
  text-decoration: underline;
}
/* ================================КАТАЛОГ ======================================*/

/*header*/
.basket_filled {
  background-color: var(--basic-coral);
}
.authorized-navigation {
  display: block;
}
.menu-authorized {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 6px;
  max-width: 299px;
}
.menu-authorized li {
  padding-left: 30px;
}
.menu-authorized a {
  font-style: "Cuprum", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-dark-navy);
  text-decoration: underline;
}
.user-navigation-button {
  display: flex;
}
.authorized {
  position: relative;
  display: block;
  background-color: var(--basic-white);
  padding: 12px 0px 12px 35px;
  width: 220px;
  text-align: center;
  color: var(--basic-black);
  font-family:"Cuprum", sans-serif;
  font-size: 21px;
  line-height: 21px;
}

.authorized::before {
  content: "";
  position: absolute;
  background: url(../img/icon-user.svg) no-repeat;
  left: 13px;
  top: 12px;
  width: 20px;
  height: 20px;

}
.log-out {
  background-color: white;
  padding: 10px 10px 0px 10px;
}

.personal_area {
  position: relative;
}

.personal_area::before {
  content: "";
  position: absolute;
  background-color: var(--basic-dark-navy);
  left: 13px;
  top: 12px;
  width: 4px;
  height: 4px;
}
/*main*/
.breadcrumbs {
  display: flex;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
.breadcrumbs-item {
  margin-left: 25px;
  position: relative;
}

.breadcrumbs-item:first-child {
  margin-left: 0;
}

.breadcrumbs-item:not(:first-child):before {
  content: "";
  position: absolute;
  background: url(../img/icon-right-small.svg) no-repeat;
  left: -15px;
  top: 7px;
  width: 20px;
  height: 20px;

}
.breadcrumbs-item a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase; 
  color: var(--basic-black);
}

/*Filters*/

.filters h2 {
  margin: 0;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--special-background-grey);
    border-radius: 2px;
}



.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 220px;
  margin: 14px auto; 
}

.range-filter {
  width: 220px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--special-background-grey);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "PT Sans" sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: var(--special-background-grey);
  font-family: inherit;
  font-size: inherit;
}


/* фильтр поиска */ 

.filters {
  width: 220px;
}
form.filter {
  margin-top: 14px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filter legend {
  margin-bottom: 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--special);
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -43px;
  top: 0;
  width: 19px;
  height: 19px;
  border: 2px solid var(--special-light-grey-filters);
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -38px;
  width: 23px;
  height: 17px;
  background-image: url("../img/icon-vote.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 4px solid var(--special-light-grey-filters);
  border-radius: 50%;
}
.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -36px;
  width: 12px;
  height: 12px;
  background-color: var(--special-light-grey-filters);
  border-radius: 50%;
}

.filter-button {
  background-color: var(--basic-white);
  display: block;
  margin-top: 34px;
  width: 220px;
  padding: 10px 37px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

/*Catalog*/
.catalog-main-theme {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--basic-dark-navy);
  background-color: var(--basic-gray-blue);
  padding: 32px 29px;
  max-width: 940px;
}


.catalog-main-wrapper {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
  grid-gap: 20px;
}




/*Сортировка */
.sorting {
  display: flex;
  padding: 7px 14px 7px 20px;
  background-color: var(--special-background-grey);
}
.sorting h3 {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  line-height: 18px;
  color: var(--basic-black);
  font-size: 13px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.catalog-sorting {
  list-style: none;
  display: flex;
  padding: 0;
  margin:0;
  margin-left: 134px;
}
.catalog-sorting-item:not(:first-child) {
 margin-left: 55px;
}
.catalog-sorting-icon {
  list-style: none;
  display: flex;
  padding: 0;
  margin:0;
}
.catalog-sorting-item button {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-sorting-icon {
  margin-left: 40px;
}
.catalog-sorting-icon-item button {
    border: 0;
  background: 0;
}
.sorting-button {
  border: 0;
  background: 0;
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dotted var(--basic-coral);
}
.button-focus {
  border: 0;
  color: var(--basic-coral);
  opacity: 1;
  text-decoration: none;
}
.icon-focus svg {
  fill: var(--basic-coral);
  transform: rotate(-180deg);
}

.catalog-sorting-order {
  list-style: none;
  display: flex; 
}
/*CATALOG LIST*/
.catalog_page_catalog_list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    max-width: 700px;
    margin-top: 8px;
}

/*PAGINATION */


.pagination-list {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

}

.pagination-item {
  border: 1px solid #E5E5E5;
  margin-left: 10px;
}
.pagination-item:first-child {
  margin-left: 0;
}

.pagination-item a {
  display: block;
  padding: 7px 14px;
  color: var(--basic-black);
}

.pagination-item-current a {
  background-color: var(--basic-coral);
  color: var(--basic-white);
}
.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--basic-coral);
  color: var(--basic-white);
}

.pagination-item-last a {
   padding: 7px 25px;
}

/*ABOUT PRODUCT*/

.catalog-about-product {
  margin-top: 60px;
  background-color: var(--basic-gray-blue);
  padding-top: 65px;
  padding-bottom: 68px;
  margin-bottom: -20px;
}
.catalog-about-product h2 {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
.catalog-about-product p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  margin: 0px;
}
